@model IEnumerable<Domain.Entities.ProductCategory>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>
<table class="Grid">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Parent name</th>
    <th>Actions</th>
</tr>
@foreach(var i in Model)
{
    <tr>
    <td>@i.ProductCategoryID</td>
    <td>@Html.ActionLink(i.Name, "EditCategory", new { i.rowguid})</td>
    
        @if (i.ParentProductCategoryID == null)
        {
            <td>Add child</td>
        }   else
        {
            <td>@i.ProductCategory2.Name</td>
        }
    
    <td>
    @using (Html.BeginForm("DeleteCategory", "Admin")) {
        @Html.Hidden("rowguid",i.rowguid)
        <input type="submit" value="Delete"/>
    }
    </td>
</tr>
}
</table>