@model IEnumerable<WebUI.Models.AddressesListModel>

@{
    ViewBag.Title = "Addresses";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@Html.ActionLink("Add address","CreateAddress","Customer")
<div class="address" style="font-weight: bold;">
    <div class="type">Address Type</div>
    <div class="country">Country Region</div>
    <div class="state">State Province</div>
    <div class="city">City</div>
    <div class="address1">Address</div>
    <div class="zip">Postal Code</div>
    <div style="width: 9%">&nbsp;</div>
</div>
@foreach (var i in Model)
{
    <div class="address">
        <div class="type">@Html.ActionLink(i.AddressType, "EditAddress", new {i.rowguid})</div>
        @{ Html.RenderPartial("Address", i.Address); }
        @using (Html.BeginForm("DeleteAddress", "Customer")) {
        @Html.Hidden("rowguid", i.Address.rowguid)
        <div style="width: 9%"><input type="submit" value="Delete" class="actionButtons nocorner" style="margin:0 .1em;padding: 0 .2em;"/></div>
    }
    </div>
    
    }
