@model IEnumerable<Domain.Entities.CartItem>
@{
    Layout = null;
}
<div id="cart">
    <span class="caption">
        <b>Your cart:</b>
        @Model.Sum(x => x.Quantity) item(s),
        @Model.Sum(e => e.Product.StandardCost * e.Quantity).ToString("c")
    </span>
        @Html.ActionLink("Checkout", "Index", "Cart", 
        new { returnUrl = Request.Url.PathAndQuery }, new {@class = "nocorner"})
</div>