body {
     font-family: Cambria, Georgia, "Times New Roman"; margin: 0;
}
div {
     border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.nocorner {
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div#header div.title, 
div.item H3, 
div.item H4, 
div.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
div#header {
     background-color: #444; border-bottom: 2px solid #111; color: White;
}
div#header div.title {
     font-size: 1.7em; padding: .6em;
}
div#content {
     border-left: 2px solid gray; margin-left: 9em; padding: 1em;
}

div#categories {
     float: left; width: 8em; padding: .3em;
}
div#categories A  
{
    font: bold .8em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
    text-decoration: none; padding: .1em; color: Black;
    border-bottom: 1px solid silver;
}
div#categories A.selected { background-color: #666; color: White; }
div#categories A:hover { background-color: #CCC; }
div#categories A.selected:hover { background-color: #666; }


div.item {
     border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em;
}
div.item:first-child {
     border-top:none; padding-top: 0;
}
div.item H3 {
     font-size: 1.3em; margin: 0 0 .25em 0;
}
div.item H4 {
     font-size: 1.1em; margin:.4em 0 0 0;
}
form {
    margin: 0;padding: 0;
}
div.item form {
    float: right;
}
div.item input {
    color: white;background-color: #333;border: 1px solid black;cursor: pointer;
}
div.pager { 
    text-align:right; border-top: 2px solid silver;
    padding: .5em 0 0 0; margin-top: 1em; 
}
div.pager A { 
    font-size: 1.1em; color: #666; text-decoration: none;
    padding: 0 .4em 0 .4em; 
}
div.pager A:hover {
     background-color: Silver;
}
div.pager A.selected {
     background-color: #353535; color: White;
}

h2 {
     margin-top: 0.3em
}
tfoot td {
     border-top: 1px dotted gray; font-weight: bold;
}
.actionButtons a, input.actionButtons {
    font: .8em Arial; color: White; margin: .5em;
    text-decoration: none; padding: .15em 1.5em .2em 1.5em;
    background-color: #353535; border: 1px solid black;
}

#header {
    display: inline-block;
    width: 100%;
}

div#cart { float:right; margin: .5em; color: Silver; 
   background-color: #555; padding: .5em .5em .5em 1em;
    /*display: block;
    position: relative;*/
}
div#cart a { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
   margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}

div#user { float:right; margin: .8em; color: Silver; 
   background-color: #555; padding: .5em .5em .5em 1em;
    /*display: block;
    position: relative;*/
}
div#user span { font-size: .9em; padding: .2em;}
#header div.title {
    display: block;
    position: relative;
    float: left;
    
}